body {
  background-color: black;
  background-image: url(/images/windows-wallpaper.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: black;
  font-family: W95FA;
  margin: 0;
}
* {
  box-sizing: border-box;
}
.windowsWindow {
  position: relative;
  top: 50vh;
  transform: translate(0,-50%);
  background-color: #c0c7c8;
  width: 80vw;
  aspect-ratio: 4 / 3;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  filter: 
    drop-shadow(-0.5vw 0vw 0 white)
    drop-shadow(0vw -0.5vw 0 white)
    drop-shadow(0.5vw 0vw 0 #87888f)
    drop-shadow(0vw 0.5vw 0 #87888f)
    drop-shadow(-0.5vw 0vw 0 #c0c7c8)
    drop-shadow(0vw -0.5vw 0 #c0c7c8)
    drop-shadow(0.5vw 0vw 0 black)
    drop-shadow(0vw 0.5vw 0 black);
}
.blueBar {
  position: relative;
  top: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
  background-color: #0000a8;
  width: auto;
  height: 9vw;
  display: flex;
  justify-content: space-between;
  align-items: right;
}
.blueBar > h1 {
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  color: white;
  margin: 0 auto auto 2vw;
  font-size: 100%;
}
.button {
  background-color: #c0c7c8;
  display: inline-block;
  filter: 
    drop-shadow(0.5vw 0vw 0 #87888f)
    drop-shadow(0vw 0.5vw 0 #87888f)
    drop-shadow(-0.5vw 0vw 0 white)
    drop-shadow(0vw -0.5vw 0 white)
    drop-shadow(0.5vw 0vw 0 black)
    drop-shadow(0vw 0.5vw 0 black);
}
.button:active {
  border-left-color: black;
  border-top-color: black;
  filter: drop-shadow(0.5vw 0vw 0 white) drop-shadow(0vw 0.5vw 0 white);
}
.closeBtn {
  width: auto;
  height: 5.5vw;
  aspect-ratio: 12 / 11;
  margin: 1.5vw 2vw 1vw 1vw;
  padding: 0px 0px 0px 0px;
}
.warning {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#warningSign {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@font-face {
  font-family: W95FA;
  src: url(/fonts/w95fa.woff2);
}