body {
  background-color: black;
  background-image: url(/images/windows-wallpaper.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: black;
  font-family: W95FA;
  margin: 0;
}
* {
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  top: 50vh;
  transform: translate(0,-50%);
  background-color: #c0c7c8;
  width: 80vw;
  aspect-ratio: 4 / 3;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  padding: 1vw;
  filter: 
    drop-shadow(-0.5vw 0vw 0 white)
    drop-shadow(0vw -0.5vw 0 white)
    drop-shadow(0.5vw 0vw 0 #87888f)
    drop-shadow(0vw 0.5vw 0 #87888f)
    drop-shadow(-0.5vw 0vw 0 #c0c7c8)
    drop-shadow(0vw -0.5vw 0 #c0c7c8)
    drop-shadow(0.5vw 0vw 0 black)
    drop-shadow(0vw 0.5vw 0 black);
}
.title-bar {
  position: relative;
  background-color: #0000a8;
  width: auto;
  height: 9vw;
  display: flex;
  justify-content: space-between;
}
.title-bar > h1 {
  position: relative;
  top: 50%;
  transform: translate(0,-48%);
  color: white;
  margin: 0 auto auto 1.5vw;
  font-size: 6vw;
}
.button {
  border: none;
  background-color: #c0c7c8;
  display: inline-block;
  filter: 
    drop-shadow(0.5vw 0vw 0 #87888f)
    drop-shadow(0vw 0.5vw 0 #87888f)
    drop-shadow(-0.5vw 0vw 0 white)
    drop-shadow(0vw -0.5vw 0 white)
    drop-shadow(0.5vw 0vw 0 black)
    drop-shadow(0vw 0.5vw 0 black);
}
.button:active {
  filter:
    drop-shadow(-0.5vw 0vw 0 #87888f)
    drop-shadow(0vw -0.5vw 0 #87888f)
    drop-shadow(-0.5vw 0vw 0 black)
    drop-shadow(0vw -0.5vw 0 black)
    drop-shadow(0.5vw 0vw 0 white)
    drop-shadow(0vw 0.5vw 0 white);
}
.close-button {
  width: auto;
  height: 5.5vw;
  aspect-ratio: 12 / 11;
  margin: 1.5vw 2vw 1vw 1vw;
  padding: 0px 0px 0px 0px;
}
.close-button:active {
  margin: 2vw 1.5vw 1vw 1vw;
}
.warning {
  display: flex;
  flex-grow: 2;
  height: auto;
  align-items: center;
}
#warningSign {
  float: left;
  margin: 5vw;
  width: 30%;
}
#lutsch {
  width: 50vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
  z-index: -10;
}
@font-face {
  font-family: W95FA;
  src: url(/fonts/w95fa.woff2);
}